/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.home .header { height: 550px; }

.nav li a { font-size: .875em; }


.clients-outer {
		
		.clients {
			
		.client.expanded {
			
			figure {

					float: left;
					margin-right: 1.5em;
				
			}
		}
		}
		.client-more {
			margin-left: 415px;
		}
	}